@font-face {
  font-family: swiper-icons;
  src: url(data:application/font-woff;charset=utf-8;base64,\ d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA);
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translateZ(0);
}
.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}
.swiper-centered > .swiper-wrapper:before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-centered.swiper-horizontal
  > .swiper-wrapper
  > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-horizontal > .swiper-wrapper:before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}
.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-vertical > .swiper-wrapper:before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}
:root {
  --swiper-navigation-size: 44px;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-next.swiper-button-hidden,
.swiper-button-prev.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.swiper-navigation-disabled .swiper-button-next,
.swiper-navigation-disabled .swiper-button-prev {
  display: none !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}
.swiper-button-lock {
  display: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
a,
button {
  cursor: revert;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
input,
textarea {
  -webkit-user-select: auto;
}
textarea {
  white-space: revert;
}
::placeholder {
  color: unset;
}
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
@font-face {
  font-family: Helvetica Neue LT Com;
  font-style: normal;
  font-weight: 300;
  src: url(/bipa-microsite/assets/HelveticaNeue-Light-5306df54.woff)
    format("woff");
}
@font-face {
  font-family: Helvetica Neue LT Com;
  font-style: normal;
  font-weight: 400;
  src: url(/bipa-microsite/assets/HelveticaNeueW02-XBlkCn-913b12cf.woff)
    format("woff");
}
@font-face {
  font-family: Helvetica Neue LT Com;
  font-style: normal;
  font-weight: 700;
  src: url(/bipa-microsite/assets/HelveticaNeue-Bold-e967f479.woff?)
    format("woff");
}
body {
  min-height: 100vh;
  background-image: url(/bipa-microsite/images/beautyball-background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
  margin: 0;
  font: 14px Arial, sans-serif;
}
a {
  color: #ec008c;
  text-decoration: none;
}
p {
  line-height: 1.4;
  font-size: 16px;
  color: #444345;
  margin: 0 0 10px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  letter-spacing: normal;
  font-weight: 500;
  line-height: 1.1;
  font-family: Helvetica Neue LT Com;
}
.h3,
h3 {
  font-size: 24px;
}
.pink {
  color: #ec008c;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 960px) {
  .container {
    width: 940px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  p {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
.c-nav-cluse {
  padding-top: 10px;
}
.c-nav-cluse-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-nav-cluse-links {
  display: flex;
  align-items: flex-start;
  text-align: center;
}
.c-nav-cluse-links a {
  margin-right: 20px;
}
.c-nav-cluse img {
  max-height: 50px;
}
.c-menu-btn {
  width: 35px;
  height: 10px;
  border-top: 2px solid #ec008c;
  border-bottom: 2px solid #ec008c;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .c-nav-cluse {
    padding-top: 30px;
  }
  .c-nav-cluse-links a {
    margin-right: 20px;
  }
  .c-nav-cluse img {
    max-height: 80px;
  }
  .c-nav-cluse-links-loreal {
    max-width: 110px;
  }
  .c-menu-btn {
    width: 50px;
    height: 16px;
  }
}
.l-menu {
  background-color: #fef5f7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  transition: 0.5s;
  overflow: hidden;
  width: 100%;
}
.closed-menu.l-menu {
  left: 100%;
  width: 100vw;
}
.c-menu-content-logo {
  max-width: 50px;
  display: inline-block;
  position: relative;
  top: -10px;
}
.c-menu-content-logo img {
  max-width: 100%;
}
.c-menu-close-btn {
  width: 30px;
  height: 30px;
  position: relative;
  float: right;
  cursor: pointer;
}
.c-menu-close-btn:after {
  position: absolute;
  content: "";
  width: 40px;
  height: 1px;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
  transform: translate(-50%) rotate(45deg);
  top: 50%;
  left: 50%;
  background-color: #ec008c;
  display: block;
}
.c-menu-close-btn:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 40px;
  -webkit-transform: translate(0, -50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
  left: 50%;
  background-color: #ec008c;
  display: block;
}
.c-menu-content {
  padding-top: 10vh;
}
.c-menu-content > div {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.c-menu-content h6 {
  color: #ec008c;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 18px;
}
.c-menu-content a {
  font-family: Helvetica Neue LT Com;
  color: #444;
  display: inline;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: 16px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}
.c-menu-content a:hover,
.c-menu-content a.active {
  text-decoration: underline;
}
.c-menu-content > div p {
  color: #ec008c;
  margin-bottom: 5px;
}
.c-menu-content span {
  font-size: 16px;
  color: #777;
}
@media screen and (min-width: 992px) {
  .l-menu {
    padding-top: 50px;
  }
  .c-menu-content-logo {
    max-width: 80px;
    top: -20px;
  }
  .c-menu-content a {
    font-size: 42px;
  }
}
.l-beautyball-home {
  margin-top: 60px;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
}
.l-beautyball-start {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.l-beautyball-start img {
  margin-bottom: 30px;
  max-width: min(100%, 370px);
}
.l-beautyball-start p {
  max-width: 54%;
}
.l-beautyball-balls {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
}
.l-beautyball-balls a img {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.l-beautyball-balls a img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.c-beautyball-ball-1 {
  display: flex;
  justify-content: flex-end;
}
.l-beautyball-balls a {
  display: inline-block;
}
.c-beautyball-ball-1 a {
  width: 60%;
}
.c-beautyball-ball-2 {
  display: flex;
  justify-content: flex-start;
  margin-top: -17%;
}
.c-beautyball-ball-2 a {
  width: 40%;
}
.c-beautyball-ball-3 {
  display: flex;
  justify-content: flex-end;
  margin-top: -20%;
}
.c-beautyball-ball-3 a {
  width: 60%;
}
.c-beautyball-ball-4 {
  margin-top: -20%;
  padding-left: 11%;
}
.c-beautyball-ball-4 img {
  width: 32%;
}
.c-beautyball-ball-5 {
  display: none;
}
.c-beautyball-ball-5 a {
  width: 25%;
}
.l-beautyball-end {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 4;
}
.l-beautyball-end-1 {
  margin-bottom: 50px;
}
.l-beautyball-end h3 {
  color: #ec008c;
  font-size: 28px;
}
.l-beautyball-end-1 p {
  max-width: 95%;
}
.l-beautyball-end-2 {
  margin-bottom: 16px;
}
.l-beautyball-end li {
  line-height: 1.7;
  font-size: 16px;
  color: #444345;
  list-style: none;
  position: relative;
  padding-left: 15px;
}
.l-beautyball-end li:before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  left: 0;
  top: 9px;
  background-color: #ec008c;
}
.l-beautyball-end-2 p {
  margin-bottom: 0;
  margin-top: 10px;
  display: inline-block;
}
.l-beautyball-end-3-text {
  font-size: 14px;
}
.l-beautyball-end-3-link {
  background-color: #ec008c;
  color: #fff;
  font-size: 26px;
  line-height: 1;
  font-family: Helvetica Neue LT Com;
  display: block;
  text-align: center;
  padding: 8px 30px;
  border-radius: 30px;
  max-width: 310px;
  margin-bottom: 30px;
  border: 1px solid #ec008c;
  transition: all 0.3s;
}
.l-beautyball-end-3-link:hover {
  color: #ec008c;
  background-color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  .l-beautyball-home {
    padding: 0 0 0 80px;
    margin-top: 100px;
    margin-bottom: 50px;
    grid-template-columns: 50% auto;
    grid-template-rows: 330px auto;
  }
  .l-beautyball-start {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .l-beautyball-start img {
    margin-bottom: 40px;
    max-width: 370px;
  }
  .l-beautyball-start p {
    max-width: 66%;
  }
  .l-beautyball-balls {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .c-beautyball-ball-1 {
    margin-top: 30px;
    padding-right: 5%;
  }
  .c-beautyball-ball-1 a {
    width: 75%;
  }
  .c-beautyball-ball-2 {
    margin-top: -15%;
    margin-left: -20%;
  }
  .c-beautyball-ball-2 a {
    width: 70%;
  }
  .c-beautyball-ball-3 {
    margin-top: -25%;
  }
  .c-beautyball-ball-3 a {
    width: 70%;
  }
  .c-beautyball-ball-4 {
    margin-top: -5%;
    padding-left: 14%;
  }
  .c-beautyball-ball-4 img {
    width: 45%;
  }
  .c-beautyball-ball-5 {
    display: block;
    text-align: right;
    margin-top: -30%;
    padding-right: 4%;
  }
  .l-beautyball-end {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .l-beautyball-end-1 {
    margin-bottom: 130px;
  }
  .l-beautyball-end h3 {
    font-size: 32px;
    text-shadow: 0 0 1px black;
  }
  .l-beautyball-end-1 h3 {
    max-width: 50%;
  }
  .l-beautyball-end-1 p {
    max-width: 73%;
    font-size: 18px;
  }
  .l-beautyball-end-2 {
    margin-bottom: 30px;
  }
  .l-beautyball-end li {
    font-size: 18px;
  }
  .l-beautyball-end li:before {
    top: 15px;
  }
  .l-beautyball-end-3-link {
    margin-bottom: 60px;
    margin-left: 15%;
  }
}
.beautyball-products-wrapper {
  margin-top: 20px;
}
.c-item-content-wrap {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
}
.c-item-content-wrap .c-item-title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  color: #ec008c;
  font-size: 28px;
  font-weight: 100;
  text-transform: unset;
}
.c-item-content-wrap .c-item-conten {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 4;
  padding-top: 20px;
}
.c-item-desc {
  padding-top: 100px;
  max-width: 85%;
  display: block;
}
.c-item-desc ul {
  margin-left: 0;
  margin-bottom: 8px;
}
.c-item-desc li {
  line-height: 1.4;
  font-size: 16px;
  color: #444345;
  padding-left: 0;
  text-indent: 10px;
  margin-bottom: 8px;
  position: relative;
  list-style: none;
}
.c-item-desc li:before {
  content: "-";
  margin-right: 5px;
  top: -3px;
  font-size: 18px;
  left: -10px;
  position: absolute;
  line-height: 26px;
}
.c-item-content-wrap .c-item-img--wrap {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
}
.c-item-img--wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.c-item-img--wrapper img {
  width: 94%;
  margin-left: -30px;
}
.c-item-img--wrap .swiper-button-next,
.c-item-img--wrap .swiper-button-prev {
  height: 60px;
  top: 50%;
}
.c-item-img--wrap .swiper-button-next {
  right: 0;
  left: auto;
}
.c-item-img--wrap .swiper-button-prev {
  left: 0;
  right: auto;
}
.c-item-img--wrap .swiper-button-next:after,
.c-item-img--wrap .swiper-button-prev:after {
  color: #444;
  font-size: 20px;
}
@media screen and (min-width: 992px) {
  .beautyball-products-wrapper {
    margin-top: 60px;
  }
  .c-item-content-wrap {
    padding: 0;
    grid-template-columns: 55% auto;
    grid-template-rows: 90px auto;
  }
  .c-item-content-wrap .c-item-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 42px;
    padding-left: 80px;
    margin-bottom: 0;
    align-self: end;
  }
  .c-item-content-wrap .c-item-conten {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .c-item-desc {
    padding-top: 0;
    padding-left: 80px;
  }
  .c-item-desc p {
    max-width: 95%;
    font-size: 19px;
  }
  .c-item-desc li {
    font-size: 19px;
    text-indent: 12px;
    max-width: 90%;
  }
  .c-item-desc li:before {
    top: -3px;
    left: -12px;
  }
  .c-item-content-wrap .c-item-img--wrap {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    max-width: unset;
  }
  .c-item-img--wrapper {
    height: 386px;
    margin-top: 40px;
  }
  .c-item-img--wrapper img {
    width: 80%;
  }
  .c-item-img--wrap .swiper-button-prev {
    left: 32px;
  }
}
.l-beautyball-prijava-title {
  max-width: 95%;
  margin: 50px auto 20px;
  color: #ec008c;
  font-size: 24px;
}
.form-group {
  margin-bottom: 21px;
}
.form-group input {
  width: 100%;
  padding: 7.5px 20px;
  border-radius: 20px;
  border: none;
  font-size: 21px;
  color: #4d4d4d;
}
.form-group input::placeholder {
  color: #aaa;
}
.form-group input:focus,
.form-group input:focus-within {
  outline: none;
  box-shadow: 5px 5px 5px #0003;
}
.help-block {
  float: left;
  margin: 5px 15px 10px;
  font-size: 18px;
  text-align: left;
  color: #da312f;
  width: 100%;
  display: block;
}
.alert.alert-warning {
  max-width: 82%;
  margin: 0 auto 20px;
}
#sendFormWithApi {
  text-transform: unset;
  padding: 7.5px 54px;
  border-radius: 20px;
  font-size: 19px;
  box-shadow: none;
  float: right;
  border: 1px solid #ec008c;
  text-shadow: none;
  font-family: Helvetica Neue LT Com, sans-serif;
  color: #fff;
  background-color: #ec008c;
  background-image: none;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}
#sendFormWithApi:hover {
  color: #ec008c;
  background-color: #fff;
}
#msgOk {
  border: 1px solid #ec008c;
  text-align: center;
  padding: 20px 20px 0;
  background-color: #ffffff80;
  margin: 0 auto 20px;
  max-width: 600px;
}
#msgOk p {
  font-size: 20px;
}
#code02,
#code03,
#code04,
#code05 {
  border: 1px solid #ec008c;
  text-align: center;
  padding: 20px 20px 0;
  background-color: #ffffff80;
  margin: 0 auto 20px;
  max-width: 600px;
  font-size: 20px;
}
#msgIncomplete {
  color: #da312f;
  margin: 20px auto;
  max-width: 600px;
  border: 1px solid #ec008c;
  text-align: center;
  background-color: #ffffff80;
  padding: 16px;
  font-size: 18px;
  line-height: 1.2;
}
@media screen and (min-width: 992px) {
  .l-beautyball-prijava-title {
    font-size: 36px;
    max-width: 88%;
    margin: 150px auto 30px;
  }
  .alert.alert-warning {
    max-width: 93%;
  }
  #sendFormWithApi {
    width: auto;
  }
}
.l-error-page {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px;
  margin-top: 20px;
  font-size: 16px;
  color: #444;
}
.l-error-page img {
  width: 400px;
  align-self: center;
}
.error-title {
  margin-bottom: 24px;
}
.c-error-content ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 30px;
}
.c-error-content a {
  color: #fff;
  background-color: #ed008c;
  background-image: none;
  text-shadow: -1px 1px 0 rgb(0 0 0 / 30%);
  display: inline-block;
  padding: 5px 12px;
  line-height: 24px;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: all 0.3s;
  text-decoration: none;
}
.c-error-content a:hover {
  color: #ed008c;
  background-color: #fff;
  border-color: #ed008c;
  text-shadow: 0 0 1px rgb(0 0 0 / 70%);
}
@media screen and (min-width: 992px) {
  .l-error-page {
    flex-direction: row;
    margin-top: 60px;
  }
}
