*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

body {
  min-height: 100vh;
  background-image: url(/images/beautyball-background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
  margin: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 960px) {
  .container {
    width: 940px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.js-menu.closed-menu {
  display: none;
}

/* Nav */

.c-nav-cluse {
  padding-top: 10px;
}

.c-nav-cluse-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-nav-cluse-links {
  display: flex;
  align-items: flex-start;
  text-align: center;
}

.c-nav-cluse-links a {
  margin-right: 20px;
}

.c-nav-cluse img {
  max-height: 50px;
}

.c-menu-btn {
  width: 35px;
  height: 10px;
  border-top: 2px solid #ec008c;
  border-bottom: 2px solid #ec008c;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .c-nav-cluse {
    padding-top: 30px;
  }

  .c-nav-cluse-links a {
    margin-right: 20px;
  }

  .c-nav-cluse img {
    max-height: 80px;
  }
  .c-nav-cluse-links-loreal {
    max-width: 110px;
  }

  .c-menu-btn {
    width: 50px;
    height: 16px;
  }
}

/* Menu */

/* Home */

/* Products */
